/*Standalone colours*/
$dark: #0f0e17;
$light: #fffffe;
$orange: #ff8906;
$red: #e53170;
$grey: #a7a9be;

$light-blue: #d8eefe;
$dark-blue: #094067;
$dark-grey: #5f6c7b;
$bright-red: #ef4565;
$bright-blue: #3da9fc;


/*Nav Dark Mode*/
$nav-background-dark: $light-blue;
$nav-text-dark: $dark-grey;

/*Nav Light Mode*/
$nav-background-light: $light;
$nav-text-light: $dark-blue;

/*Nav Hover*/
$nav-text-hover: $light;
$nav-background-hover: $bright-blue;


/*Footer Dark Mode*/
$footer-background-dark: $light-blue;
$footer-text-dark: $dark-blue;

/*Nav Light Mode*/
$footer-background-light: $light;
$footer-text-light: $dark-blue;
$footer-underline: $dark-blue;

/*Extras*/
$border-light: $light;
$button-default: $bright-blue;
$button-text-default: $light;
$button-hover: $light;
$button-hover-other: $bright-red;
$button-hover-text: $dark-blue;
$headline-other: $bright-red;
$card-shadow: $bright-blue;
$button-hover-text-other: $bright-red;

/*Dark Mode*/
$background-dark: $light-blue;
$paragraph-dark: $dark-grey;
$headline-dark: $dark-blue;

/*Light Mode*/
$background-light: $light;
$paragraph-light: $dark-grey;
$headline-light: $dark-blue;

/*Card Dark Mode*/
$card-background-dark: $light;
$card-headline-dark: $dark-blue;
$card-paragraph-dark: $dark-grey;

/*Card Light Mode*/
$card-background-light: $dark-blue;
$card-headline-light: $light;
$card-paragraph-light: $dark-grey;