.container {
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;

    row-gap: 16px;
    padding: 24px;

    width: 540px;
    height: 220px;
    border: 1px solid #E0E0E0;
    border-radius: 8px;
    box-shadow: 0 0 10px 1px #E0E0E0;

    .topText {
        font-weight: 600;
        font-size: 20px;
    }

    .middleText {
        font-weight: 600;
        font-size: 45px;
    }

    .bottomText {
        font-weight: 500;
        font-size: 20px;
        color: #828282;
    }
}

@media screen and (max-width: 845px) {
    .container{
        width: 75vw;;
        height: 45vw;
        margin: 0 0 1.5rem 0;
        .topText{
            font-size: 5vw;
        }
        .middleText {
            font-size: 11vw;
        }
        .bottomText{
            font-size: 5vw;
        }
    }
}