.table_container {  
  width: 28vw;
  height: 100%;

  border: 1px solid #E0E0E0;
  box-shadow: 0 0 10px 1px #E0E0E0;
  border-radius: 8px;
  padding: 1.5rem;

  display: flex;
  flex-direction: column;
}

.table {
  height: 100%;
  width: 100%;
  border-collapse: collapse; /* Ensures table cells do not have space between them */
}
.table_title {
  padding: 0 0 1rem 0;
}

.table_header {
  color: #828282;
}

.table_row:nth-child(odd) {
  border-top: 1px #E0E0E0 solid;
  border-bottom: 1px #E0E0E0 solid;
}

.table th, .table td {
  padding: 8px; /* Padding inside cells */
  text-align: left; /* Align text to the left */
}

.table th {
  text-transform: uppercase; /* Example: Convert header text to uppercase */
}

@media screen and (max-width: 845px) {
  .table_container {
    font-size: clamp(10px, 2vw, 20px);
    max-width: 75vw;
  }
}


@media screen and (max-width: 1600px) {
    .table_container {
      font-size: clamp(10px, 2.5vw, 20px);
      width: 90vw;
    }
}