.chart_container {
  display: flex;
  flex-direction: column;

  width: clamp(10px, 48vw, 820px);
  height: clamp(10px, 40vw, 690px);

  border: 1px solid #E0E0E0;
  box-shadow: 0 0 10px 1px #E0E0E0;
  border-radius: 8px;
  padding: 1rem 1rem 0 0;
}

@media screen and (max-width: 845px) {
  .chart_container {
    flex-direction: column;
    width: 75vw;
    height: 75vw;
  }
}