/* newsfeed.module.scss */
.container {
  padding: 20px;
}

.toggleContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.toggleButton {
  background-color: #eee;
  color: #333;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.toggleButton.active {
  background-color: #0f0e17;
  color: #fff;
  font-weight: bold;
}

.tab {
  margin-bottom: 40px;
}

.tabTitle {
  text-align: center;
}

.articleList {
  list-style-type: none;
  padding: 0;
}

.article {
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #E0E0E0;
  border-radius: 8px;
  box-shadow: 0 0 10px 1px #E0E0E0;
}

.articleContent {
  display: flex;
  align-items: center;
}

.articleImage {
  flex: 0 0 100px; /* Adjust as needed */
  margin-right: 20px;
}

.articleImage img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.articleDetails {
  flex: 1;
}

.heading3 {
  margin: 0 0 10px;
}

.paragraph {
  margin: 0 0 10px;
}

.link {
  color: #0070f3;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}
