@import "../utilities/variables";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');


/*Section template*/
.sectionB {
  background-color: $background-dark;
  color: $headline-dark;
}

.sectionW {
  background-color: $background-light;
  color: $headline-light;
}

/* --- Welcome Section --- */
.welcomeSect .container {
  height: 90vh;
  display: grid;
  justify-content: center;
  align-items: center;

  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  padding: 0 calc(1rem + 5vw) 0 calc(1rem + 5vw);
}

.welcomeSect .container div {
  margin: 0 1vw 0 1vw;
}

/*--> Intro Picture*/
.welcomeSect .imgContainer {
  display: flex;
  justify-content: center;
  z-index: 0;
}

.welcomeSect .imgContainer img {
  max-height: 400px;
  max-width: 400px;
  height: 55vw;
  width: 55vw;
  min-height: 100px;
  min-width: 100px;

  border: 5px solid $background-light;
  object-fit: cover;
  animation: fluctuate-border-radius 7s infinite alternate;
  /* normal border-radius */
  border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
}

@keyframes fluctuate-border-radius {
  0% {
    border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
  }

  25% {
    border-radius: 55% 40% 54% 46% / 50% 46% 54% 50%;
  }

  50% {
    border-radius: 53% 45% 51% 49% / 40% 57% 43% 60%;
  }

  75% {
    border-radius: 49% 51% 44% 56% / 51% 47% 53% 49%;
  }

  100% {
    border-radius: 53% 47% 45% 56% / 45% 47% 56% 55%;
  }
}

/*-->  Self-introduction section */
.welcomeIntro h2 {
  margin: 0 0 1.5rem 0.5rem;
  font-size: calc(33px + 0.8vw);
}
.welcomeIntro p {
  margin: 0 0 1.5rem 0.5rem;
  line-height: 1.5rem;
  font-family: 'Roboto', sans-serif;
  color: #a7a9be;
  font-size: calc(12px + 0.4vw);
}
.welcomeIntro h2 .sup {
  font-size: 1.5rem;
}
.welcomeIntro p .sup {
  font-size: 0.5rem;
}

/*Social links below welcome section*/
.social_links {
  /*Spacing of the links*/
  display: flex;
  flex-direction: row;
  justify-content: start;
  column-gap: 1rem;
}
.social_links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: $button-light;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: $button-text-light;

  transition: all 0.5s ease;
}
.social_links a:hover {
  color: #24262b;
  background-color: #ffffff;
}


/* --- About Me Section --- */

.aboutMeSect .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0 calc(1rem + 5vw) 0 calc(1rem + 5vw);
}

.aboutMeSect .imgContainer {
  display: flex;
  justify-content: center;
}

.aboutMeSect .imgContainer img {
  max-height: 350px;
  max-width: 400px;
  height: 55vw;
  width: 55vw;
  min-height: 200px;
  min-width: 250px;

  box-shadow: 0 0 25px 3px rgba(78, 78, 78, 0.8);
  object-fit: cover;
  border-radius: 5%;
}

.aboutMeSect h1 {
  font-size: calc(10px + 1vw);
  padding: 0 0 0.5rem 0;
  color: #e53170;
  ;
}

.aboutMeSect h2 {
  font-size: calc(18px + 1vw);
  padding: 0 0 0.5rem 0;
}

.aboutMeSect p {
  font-size: calc(0.6rem + 0.5vw);
  color: #2e2f3e;
  font-weight: 400;
}


/*Project Section*/
.projectSect .container {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-rows: 25vh;
  /* top row is 100px in height */

  row-gap: 10vh;
  justify-content: center;
  align-items: center;
  padding-bottom: 10vh;
}

.projectSect .sectHeading h1 {
  font-size: calc(10px + 1vw);
  padding: 0 0 0.5rem 0;
  color: #e53170;
}

.projectSect .sectHeading h2 {
  font-size: calc(20px + 1vw);
  padding: 0 0 0.5rem 0;
}

.projectSect .sectHeading {
  margin-top: auto;
}

.projectSect .card {
  min-height: 600px;
  min-width: 860px;

  max-height: 500px;
  max-width: 900px;

  border-radius: 2px;
  box-shadow: 10px 10px $button-light;

  background-color: $background-light;
  color: $headline-light;

}

/*proj card*/
.projCard {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;

  justify-content: center;
  align-items: center;

  padding: 1rem .7rem 1rem 0.7rem;
}
.projCard .imgCard {
  display: flex;
  justify-content: center;
}
.projCard .imgCard img {
  height: 90%;
  width: 90%;
  box-shadow: 10px 10px #e53170;
  border-radius: 2px;
}
.projCard sup {
  font-size: 1rem;
}

/*card texts*/
.projText {
  padding: 0 2rem 0 2rem;
  text-align: center;
}
.projText h1 {
  font-size: calc(20px + 1vw);
  padding: 0 0 2rem 0;
}
.projText p {
  font-size: calc(0.6rem + 0.5vw);
  font-weight: 400;
  color: #2e2f3e;
  padding: 0 0 2rem 0;
}
.projText .skills {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: calc(11px + 0.2vw);
}
.projText h4 {
  box-shadow: 0 0 5px 1px rgba(78, 78, 78, 0.5);
  padding: 0.7rem;
  border-radius: 3px;
}
.projGallLink button{
  padding: 1.5rem;
  font-weight: bold;
  background-color: $button-light;
  border: none;
  border-radius: 2px;
  font-size: calc(15px + 1vw);
  transition: all 0.3s;
}
.projGallLink button:hover {
  background-color: #e53170;
  border-radius: 50px;
  transition: all 0.3s;
}
.projGallLink a {
  text-decoration: none;
  color: $button-text-light;
}


/*Contact Section*/
.contactSect .container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  padding: 15vh 10vw 15vh 10vw;
}
.contactSect .contactTitle h3 {
  font-size: calc(17px + 1vw);
  padding: 0 0 0.75rem 0;
  color: #e53170;
}
.contactSect .contactTitle h1 {
  font-size: calc(20px + 1vw);
  padding: 0 0 1rem 0;
}
.contactSect .contactInfo {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  column-gap: 5vh;
}
.contactSect .item {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 5vh;
}
.contactSect .item i {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: $button-light;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: $background-light;
}
.contactSect .item a {
  text-decoration: none;
  color: #2e2f3e;
}
.contactSect .item h3 {
  font-weight: 500;
  color: #2e2f3e;
}
.contactSect .item h3:hover,
.contactSect .item a:hover {
  color: #e53170;
  cursor: pointer;
}


/*Responsive CSS for desktop*/
@media screen and (max-width: 990px) {

  /*proj card*/
  .projCard {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr;
    row-gap: 1.5rem;

    padding: 2rem 0 1rem 0;

    justify-content: center;
    align-items: center;
  }

  .projCard .imgCard {
    display: flex;
    justify-content: center;
  }

  .projCard .imgCard img {
    height: 80%;
    width: 80%;
  }

  .projCard sup {
    font-size: 1rem;
  }

  /*Project section*/
  .projectSect .card {
    min-width: 400px;
    min-height: 460px;

    max-width: 500px;
    max-height: 900px;

    background-color: $background-light;
    color: $headline-light;
  }

  /*card texts*/
  .projText {
    padding: 0 1rem 0 1rem;
    text-align: center;
  }
}

@media screen and (max-width: 860px) {

  /* --- Welcome Section --- */
  .welcomeSect .container {
    display: flex;
    flex-direction: column-reverse;
    row-gap: 5vh;
    padding: 0;
  }

  /*-->  Self-introduction section */
  .welcomeIntro h2,
  .welcomeIntro p {
    text-align: center;
  }

  /*Social links below welcome section*/
  .social_links {
    /*Spacing of the links*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 1rem;
  }


  /* --- About Me Section --- */
  .aboutMeSect .container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;

    row-gap: 2rem;

    justify-content: center;
    align-items: center;
    padding: calc(2rem + 5vw) calc(1rem + 5vw) calc(2rem + 5vw) calc(1rem + 5vw);
  }

  .aboutMeSect .imgContainer img {
    border-radius: 10%;

  }

  .aboutMeSect h1 {
    text-align: center;
  }

  .aboutMeSect h2 {
    text-align: center;
  }

  .aboutMeSect p {
    text-align: center;
  }

  /*Project Section*/
  .projectSect .sectHeading h1 {
    text-align: center;
  }

  .projectSect .sectHeading h2 {
    font-size: calc(20px + 0.5vw);
    padding: 0 0 0.5rem 0;
    text-align: center;
  }
  .projCard .imgCard img {
    height: 65%;
    width: 65%;
    margin-bottom: 2rem;
  }

  /*Contact Section*/
  .contactSect .container {
    display: flex;
    flex-direction: column;
  }

  .contactSect .contactTitle h3 {
    text-align: center;
  }

  .contactSect .contactTitle h1 {
    text-align: center;
  }

  .contactSect .contactInfo {
    display: grid;
    grid-template-rows: 1fr 1fr;
    row-gap: 2rem;
    justify-content: center;
  }

  /*Project section*/

  .projectSect .container {
    display: flex;
    flex-direction: column;
    /* top row is 100px in height */
  
    row-gap: 10vh;
    justify-content: center;
    align-items: center;
    padding: 20vh 2vh 20vh 2vh;
  }
  .projectSect .card {
    min-width: 200px;
    min-height: 260px;

    max-width: 550px;
    max-height: 700px;

    background-color: $background-light;
    color: $headline-light;
  }

}
