@import "../utilities/variables";

.logoImg {
    -webkit-filter: invert(100%);
    margin-top: 0rem;
    align-self: center;
}

.siteName {
    font-size: 1.5rem;
    padding: 1rem;
}

/*Large Screen Navbar*/

.nav {
    background-color: $nav-background-dark;
    /*border-bottom: 1px solid $background-light;*/
    color: $nav-text-dark;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    height: 10vh;
    z-index: 100;
}

.nav_menu_list {
    list-style: none;
    display: flex;
    align-items: stretch;
}

.nav a {
    color: inherit;
    font-weight: bold;
    text-decoration: none;

    height: 100%;
    display: flex;
    align-items: center;
}

.nav li {
    transition: all 0.3s;
    font-size: 1.3rem;
    cursor: pointer;
    z-index: 10;
}

.nav li a {
    padding: 0 2.5rem 0 2.5rem;
}


.nav li.active {
    background-color: $nav-background-light;
    color: $nav-text-light;
}

.nav li.active:hover {
    background-color: $nav-background-light;
    color: $nav-text-light;
    margin-bottom: 0rem;
    transition: all 0.3s;
}

.nav li:hover {
    background-color: $nav-background-hover;
    color: $nav-text-hover;
    transition: all 0.3s;
}

.nav_menu_bar {
    display: none;
}


/*Small Screen Navbar*/
@media screen and (max-width: 715px) {

    .nav {
        display: flex;
        flex-direction: column;
    }

    .navTop {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
        height: 10vh;
    }
/*Side menu*/
    .nav_menu_list {
        list-style: none;
        display: flex;
        flex-direction: column;

        position: fixed;
        top: calc(10vh - 0.5px);
        width: 50%;
        right: -150%;
        min-height: calc(100vh - 60px);
        
        background-color: $nav-background-dark;
        border-left: 5px solid #f25f4c;
        z-index: 1;

        transition: all 0.5s;
    }
    /*Prevents the shift animation*/
    .nav li.active:hover, .nav li:hover {
        margin-bottom: 0;
    }

    .nav_menu_list_active {
        right: 0;
        transition: all 0.35s;
    }

    .nav_menu_list li {
        height: 100%;
        width: 100%;
        padding: 2vw 2vw 2vw 2vw;
    }

/*Hamburger*/
    .nav_menu_bar{
        display: unset;
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 4px;
        padding: 0 2rem 0 2rem;
        cursor: pointer;

        transition: all 0.35s;
    }
    .nav_menu_bar div{
        width: 35px;
        height: 5px;
        background-color: $background-light;
        border-radius: 2px;
    }


    /* Add styles for the active state */
    .nav_menu_bar div:nth-child(1), .nav_menu_bar div:nth-child(3) {
        transform: rotate(0deg);
        transition: all 0.35s;
    }

    .nav_menu_bar div:nth-child(2) {
        opacity: unset;
        transition: all 0.7s;
    }


    .nav_menu_bar_active div:nth-child(1) {
        transform: rotate(45deg) translate(5px,8px);
        transition: all 0.35s;
    }
    
    .nav_menu_bar_active div:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -8px);
        transition: all 0.35s;
    }

    .nav_menu_bar_active div:nth-child(2) {
        opacity: 0;
        transition: all 0.15s;
    }
    
}