/* VideoPlayer.module.scss */

.video_player {
    display: grid;
    width: 100%; /* Set the width to 100% of its parent container */
    position: relative; /* Ensure that the video player respects its container's dimensions */
     /* Maintain the video's aspect ratio (16:9) for responsive sizing */
    overflow: hidden; /* Hide any overflow from the video */
    box-shadow: 10px 10px #e53170;
    margin: 0.5rem 0 0 0;
  }
  
.video_player video {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Cover the entire container while maintaining aspect ratio */
  }
  