$nav-background: white;
$nav-text: black;




/*Nav Dark Mode*/
$nav-background-dark: #0f0e17;
$nav-text-dark: #fffffe;

/*Nav Light Mode*/
$nav-background-light: #fffffe;
$nav-text-light: #0f0e17;

/*Nav Hover*/
$nav-text-hover: #fffffe;
$nav-background-hover: #ff8906;



/*Footer Dark Mode*/
$footer-background-dark: #0f0e17;
$footer-text-dark: #fffffe;

/*Nav Light Mode*/
$footer-background-light: #fffffe;
$footer-text-light: #0f0e17;
$footer-underline: #ff8906;



/*Dark Mode*/
$background-dark: #0f0e17;
$paragraph-dark: #a7a9be;
$button-text-dark: #fffffe;
$headline-dark: #fffffe;
$button-dark: #ff8906;

/*Light Mode*/
$background-light: #fffffe;
$paragraph-light: #2e2f3e;
$button-text-light: #fffffe;
$headline-light: #0f0e17;
$button-light: #ff8906;

/*Card Dark Mode*/
$card-background-dark: #fffffe;
$card-headline-dark: #0f0e17;
$card-paragraph-dark: #2e2f3e;

/*Card Light Mode*/
$card-background-light: #0f0e17;
$card-headline-light: #fffffe;
$card-paragraph-light: #a7a9be;
